@import '../../styles';

.icon {
    font-size: 0.8rem;
    color: green;
    margin-top: 4px;
    margin-right: 4px;
}

.avatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.content {
    display: flex;
}

.content strong {
    line-height: 1.4;
}

.statusText {
    font-size: 0.8rem;
    color: rgb(143, 143, 143);
    margin-left: 16px;
}

.label {
    margin: 0px 4px;
    font-size: 0.7rem;
    padding: 2px 8px;
    border-radius: 8px;
    white-space: nowrap;
}

.issue {
    padding: 18px 13px;
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

    .issueContent {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .text {
            display: flex;
            align-items: center;
            width: 70%;
            flex-wrap: wrap;
        }

        .pr {
            display: flex;
            justify-content: flex-end;
            width: 10%;
        }

        .image {
            display: flex;
            justify-content: flex-end;
            width: 10%;
        }

        .comment {
            display: flex;
            justify-content: flex-end;
            width: 10%;
        }
    }
}

.comm {
    font-size: 0.8rem;
    display: flex;
    column-gap: 2px;
    align-items: center;
}

.issue:hover {
    background-color: $light-blue;
}